:root {
    --color-bg-main: rgb(15 15 15);
    --color-white: rgb(241, 241, 241);
    --color-white-2: rgb(170, 170, 170);
    --wh: calc(1vw + 1vh);
    --wh-01: calc(0.1vw + 0.1vh);
    --wh-02: calc(0.2vw + 0.2vh);
    --wh-03: calc(0.3vw + 0.3vh);
    --wh-05: calc(0.5vw + 0.5vh);
}
.cizgi {
    display: block;
    background-color: var(--color-white-2);
    width: 100vw;
    overflow: hidden;
    height: 0.3vw;
    align-self: center;
    margin-block: 1vw;
}
.non-block {
    display: inline;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--color-bg-main);
    color: var(--color-white);
}

main {
    background-image: linear-gradient(
        to bottom,
        rgba(118, 0, 0, 0.7),
        rgba(50, 5, 5, 0.8),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(35, 35, 35),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(35, 35, 35),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(35, 35, 35),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(35, 35, 35),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(35, 35, 35),
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(15, 15, 15)
    );
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: anywhere;
    line-height: 1.5;
}

#page-title {
    text-align: center;
    margin: 0px;
}

#page-description {
    margin: 0;
    padding: 0;
    width: 90%;
    font-size: 0.9em;
    text-align: center;
    padding-top: 0px;
}

#CV {
    font-size: 1.1rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-inline: 2rem;

    h2 {
        font-size: 2em;
    }
    h3 {
        text-decoration: underline;
        margin-block-start: 0;
        margin-block-end: 0.5rem;
    }
    h4 {
        margin: 0;
    }
    ul {
        margin: 0;
    }
    li {
        margin-block-end: 0.2rem;
    }
    p {
        padding: 0;
        margin: 0;
    }
    a {
        color: inherit;
        text-decoration-color: aqua;
    }
    span {
        display: block;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        margin-block: 1rem 2rem;
    }

    #personal-information-content,
    #personal-information-content2 {
        margin-right: auto;
        height: min-content;
        width: fit-content;
        -moz-column-count: 2;
        column-count: 2;
    }
}

#history {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    .history-section {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;
        gap: 1vw;

        img {
            width: 6vw;
            height: auto;
            margin: 0;
            align-self: self-start;
            margin-block: 1vw;
        }

        .card {
            margin-block: 2vw;
            width: 100%;
            height: fit-content;
            padding: 0;
            p {
                font-size: 1em;
                margin: 0;
                padding-right: 3vw;
                text-align: left;
                h333 {
                    display: inline-block;
                    padding: 0.3rem 1rem 0 1rem;
                    margin: 0;
                    font-size: 1.5em;
                    text-align: left;
                    background-color: rgb(0, 134, 134);
                }
            }
        }
    }
}

/*
*
*
*
*
*
*
*
*/

.settings-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: var(--wh);
    right: 0;
    background: rgba(117, 117, 117, 0.5);
    border-radius: calc(var(--wh) * 0.7) 0 0 calc(var(--wh) * 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: calc(var(--wh) * 0.3);
    opacity: 0.3;
    transition: transform 0.3s ease, opacity 0.3s ease;
    align-items: center;
    gap: var(--wh);
    &:hover {
        transform: scale(1.05);
        opacity: 1;
    }
    .language-options {
        display: flex;
        flex-direction: column;
        label {
            color: #333;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .option {
            font-weight: bolder;
            width: min-content;
            padding: var(--wh-02) var(--wh-02);
            border: 1px solid #ccc;
            border-radius: 4px; /* Kenarları hafif yuvarlat */
            margin: var(--wh-05) 0;
            text-align: center;
            transition: background-color 0.3s, color 0.3s;
        }
        .option:not(:checked) {
            background-color: white; /* Seçili olmayanın arka plan rengi */
            color: #333; /* Seçili olmayanın yazı rengi */
        }
        input {
            display: none;
        }
        input:checked + .option {
            background-color: #007bff; /* Seçili olanın arka plan rengi */
            color: white; /* Seçili olanın yazı rengi */
            border-color: #0056b3; /* Seçili olanın kenar rengi */
        }
    }
}

#updated-on {
    color: rgb(123, 123, 123);
    font-size: 0.9vw;
    text-align: left;
    margin-right: auto;
}
/*
*
*
*
*
*
*
*
*
*
*/
@media only screen and (max-width: 600px) {
    main {
        width: 100%;
        font-size: 0.7rem;
    }
    #CV {
        padding: 2vw;
        font-size: 0.7rem;
        ul {
            padding-left: 1rem;
        }
        #personal-information-content {
            margin-right: 0;
            height: min-content;
            width: fit-content;
            -moz-column-count: 1;
            column-count: 1;
        }
    }
    #history .history-section img {
        width: 10vw;
    }
}
