:root {
    --color-bg-main: rgb(15 15 15);
    --color-white: rgb(241, 241, 241);
    --color-white-2: rgb(170, 170, 170);
}
.cizgi {
    display: block;
    background-color: var(--color-white-2);
    width: 100vw;
    overflow: hidden;
    height: 0.3vw;
    align-self: center;
    margin-block: 1vw;
}
.non-block {
    display: inline;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--color-bg-main);
    color: var(--color-white);
}

main {
    background-image: -webkit-linear-gradient(
        to bottom,
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(0, 0, 34),
        rgb(34, 0, 0)
    ); /* Safari ve eski Chrome için */
    background-image: -moz-linear-gradient(
        to bottom,
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(0, 0, 34),
        rgb(34, 0, 0)
    ); /* Eski Firefox için */
    background-image: -ms-linear-gradient(
        to bottom,
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(0, 0, 34),
        rgb(34, 0, 0)
    ); /* Eski Internet Explorer için */
    background-image: linear-gradient(
        to bottom,
        rgb(15, 15, 15),
        rgb(15, 15, 15),
        rgb(0, 0, 34),
        rgb(34, 0, 0)
    ); /* Standart */
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: anywhere;
    font-size: 1vw;
    line-height: 1.5;
}

#page-title {
    text-align: center;
    color: var(--color-white);
    margin: 0px;
}

#page-description {
    margin: 0;
    padding: 0;
    width: 90%;
    font-size: 0.9em;
    text-align: center;
    padding-top: 0px;
}

#CV {
    font-size: 1.1rem;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-inline: 2rem;

    h2 {
        font-size: 2em;
    }
    h3 {
        text-decoration: underline;
        margin-block-start: 0;
        margin-block-end: 0.5rem;
    }
    h4 {
        margin: 0;
    }
    ul {
        margin: 0;
    }
    li {
        margin-block-end: 0.2rem;
    }
    p {
        padding: 0;
        margin: 0;
    }
    a {
        color: inherit;
        text-decoration-color: aqua;
    }
    span {
        display: block;
        width: 100%;
        height: 0.1rem;
        background-color: white;
        margin-block: 1rem 2rem;
    }

    #personal-information-content,
    #personal-information-content2 {
        margin-right: auto;
        height: min-content;
        width: fit-content;
        -moz-column-count: 2;
        column-count: 2;
    }
}

#history {
    width: 99vw;
    height: fit-content;
    display: flex;
    flex-direction: column;

    .history-section {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-items: center;
        gap: 1vw;

        .time-trigger {
            display: flex;
            width: 5vw;
            height: auto;

            .dikey-cizgi {
                display: flex;
                margin-inline: auto;
                width: 0px;
                height: auto;
                border: 0.1vw solid red;
            }
        }

        img {
            width: 5vw;
            height: auto;
            margin: 0;
            align-self: center;
            margin-block: 1vw;
        }

        .card {
            margin-block: 2vw;
            width: 100%;
            height: fit-content;
            padding: 0;

            h333 {
                display: inline-block;
                padding: 0.5vw 2vw 0 2vw;
                margin: 0;
                text-align: left;
                background-color: rgb(0, 86, 86);
            }

            p {
                font-size: 1em;
                margin: 0;
                padding-right: 3vw;
                text-align: left;
            }
        }
    }
}

#updated-on {
    margin-top: 2vw;
    font-size: 0.9vw;
    text-align: left;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    main {
        width: 90vw;
        font-size: 3.5vw;
    }
    #CV {
        padding: 0;
        font-size: 0.7rem;
        ul {
            padding-left: 1rem;
        }
        #personal-information-content {
            margin-right: 0;
            height: min-content;
            width: fit-content;
            -moz-column-count: 1;
            column-count: 1;
        }
    }
    #history .history-section img {
        width: 10vw;
    }
}
