:root {
    --color-bg-main: rgb(4 5 31);
    --color-white: rgb(241 241 241);
    --color-white-2: rgb(213, 213, 213);
    --scroll: 0px;
}
@font-face {
    font-family: myFont;
    src: url("../assets/fonts/Pw-Bold-YBgv.otf");
}
@font-face {
    font-family: myFont2;
    src: url("../assets/fonts/UbuntuMedium-rYwL.ttf");
}
body {
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(4 5 31);
    color: white;
}
#background_img {
    position: fixed;
    justify-self: center;
    object-fit: cover;
    width: 99vw;
    height: 100vh;
    overflow: hidden;
    z-index: -99;
}

header {
    color: rgb(200, 200, 200);
    width: 100%;
    margin: 0 0 1vw 0;
    height: auto;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    animation: entranceUp 0.5s normal 0.2s both;
}
header h1 {
    font-family: "Gill Sans MT";
    margin: 1vw 0 0 0;
    font-size: 10vw;
    line-height: 0.8;
    filter: drop-shadow(0 0 0.3vw rgba(255, 0, 0, 0.6))
        drop-shadow(0 0 0.5vw rgba(0, 238, 255, 0.3));
}
header p {
    margin: 0;
    color: var(--color-white-2);
    font-size: 1.5vw;
    font-family: myFont2;
    text-align: center;
    line-height: 0.8;
    span {
        font-size: 0.7em;
    }
}

main {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

#left_card {
    bottom: 0px;
    top: 0px;
    position: sticky;
    display: flex;
    margin: 0 0 0 5vw;
    flex-direction: column;
    height: auto;
    width: 20vw;
    max-height: 10%;
    align-self: center;
    justify-self: start;
    align-items: center;
    justify-items: center;
    animation: entranceLeft 0.5s normal 0.5s both;
}
#mefamex_logo {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: min(100%, 40vh);
    object-fit: contain;
    text-align: center;
}
#mefamex_logo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 0.3vw rgba(255, 255, 255, 0.8));
}
#left_card h6 {
    box-sizing: border-box;
    text-align: center;
    font-weight: normal;
    font-size: 0.6vw;
    margin: 0;
}

#main_cards {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin: 2vw 0 3vw 0;
    padding-inline: 5vw;
    align-self: center;
    align-items: stretch;
    justify-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.card {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: auto;
    height: 100%;
    flex: 1 1 calc(30% - 2.1vw);
    flex-direction: column;
    padding: 0 2rem 1rem 2rem;
    font-size: 1.2rem;
    /*border: 0.2rem solid rgba(255, 255, 255, 0.39);*/
    border-radius: calc(2vw + 2vh);
    background: linear-gradient(
        to top,
        rgba(0, 122, 122, 0.301) 50%,
        rgba(0, 0, 0, 0.575) 75%
    );
    background-repeat: no-repeat;
    background-size: 100% 250%;
    background-position: 0% 0%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
    -webkit-animation: slit-in-vertical 1.5s normal both;
    animation: slit-in-vertical 1.5s normal 1s both;
}
.card:hover {
    transition: all 0.4s ease;
    background-position: 0% 100%;
    transform: scale(1.02);
    box-shadow: 0 0 2vw rgba(255, 255, 255, 0.7),
        0 0 1cqh rgba(255, 255, 255, 0.5);
}
.card h1 {
    font-size: 1.7em;
    margin: 0px;
    padding: 1vw 0 1vw 0;
    align-self: center;
    text-align: center;
    font-family: myFont;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    text-decoration: underline;
    text-decoration-color: rgba(0, 106, 255, 0.479);
    cursor: pointer;
    transition: all 0.2s normal;
}
.card:hover h1 {
    text-decoration-color: rgb(255, 0, 0);
    a {
        transform: scale(1.1);
    }
}
.card h1 a {
    all: inherit;
    margin: 0;
    padding: 0;
}
.card p {
    margin: 0;
    align-self: stretch;
    text-align: start;
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 0.5rem;
}
.card:nth-child(1) {
    flex-basis: 52%;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
    height: 12px; /* height of the scrollbar */
    background-color: #2f2f2f67; /* dark gray background color */
    border-radius: 10px; /* rounded corners for the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #7e7e7e8e; /* dark gray thumb color */
    border-radius: 10px; /* rounded corners for the thumb */
    border: 2px solid #ff000075; /* dark gray border around the thumb */
}

::-webkit-scrollbar-track {
    background-color: #2f2f2f79; /* dark gray track color */
    border-radius: 10px; /* rounded corners for the track */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.527); /* subtle shadow effect */
}
::-webkit-scrollbar-button {
    display: none;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
@keyframes entranceRight {
    from {
        opacity: 0;
        transform: translateX(15vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes entranceBottom {
    from {
        opacity: 0;
        transform: translateY(15vw);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes entranceUp {
    from {
        opacity: 0;
        transform: translateY(-15vw);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes entranceLeft {
    from {
        opacity: 0;
        transform: translateX(-10vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
        background-color: white;
    }
    20% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(80deg);
        opacity: 1;
        background-color: white;
    }
    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}
@keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
        background-color: white;
    }
    20% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(80deg);
        opacity: 1;
        background-color: white;
    }
    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/

@media only screen and (max-width: 600px) {
    header {
        position: fixed;
        margin: 0;
        padding-bottom: 5vw;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(10px);
        box-shadow: 0 3vw 7vw rgba(134, 134, 134, 0.5);
    }
    header h1 {
        margin: 5vw 0 0 0;
        font-size: 17vw;
        filter: drop-shadow(0.5vw 1vw 0.7vw rgba(255, 0, 0, 0.75));
        line-height: 1;
    }
    header p {
        font-size: 3vw;
    }
    main {
        flex-direction: column;
    }
    #left_card {
        width: 50vw;
        top: 35vw;
        margin: 0;
        padding: 0;
        animation: entranceUp 0.5s normal 0.5s both;
    }
    #left_card h6 {
        font-size: 2vw;
    }
    #main_cards {
        flex-direction: column;
        width: 90%;
        padding-inline: 0;
        gap: 10vw;
        margin-block: 50vw 30vh;
    }
    .card {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        padding-block: 0px 3vw;
        font-size: 0.9rem;
        box-shadow: 0 0 1vw rgba(255, 225, 225, 0.5);
    }
    .card h1 {
        margin: 0;
        padding: 4vw 0 1vw 0;
    }
}
