:root {
    --color-bg-main: rgb(15 15 15);
    --color-white: rgb(241, 241, 241);
    --color-white-2: rgb(170, 170, 170);
}
body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--color-bg-main);
}
main {
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 85dvh;
}
main > h1 {
    color: var(--color-white);
    overflow-wrap: anywhere;
}
