:root {
    --bg-main: #2f3640;
    --bg-h2: #e67e22;
    --header-height:5rem;
    --scroll:0px;
}
*{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #424242;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 1dvw;
}
main #table-body section h1 {
    margin-block: auto;
    color: rgb(0, 0, 0);
    background-color: #294966;
    font-size: 3rem;
    text-align: center;
    padding-block: 1rem;
    margin-top: 5rem;
}
main #table-body section fieldset legend{
    color: chartreuse;
    font-size: 1.3rem;
}
main #table-body section fieldset ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: azure;
}
main #table-body section fieldset ul li{
    user-select: none;
    display: flex;
    gap: 1rem;
}
main #table-body section fieldset ul li h3{
    margin-block: auto;
}
main #table-body section fieldset ul li h3::after{
    content: ":";
}
/* MAIN OVER
.
.
.
.
.
.
.
.
.
.
.
.
.
.....SIDEBAR....*/
#sidebar {
    width: max-content;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #00000082;
}
#sidebarSection{
    top: max(3px, calc(var(--header-height) - var(--scroll)));
    padding-top: min(5rem , calc(var(--scroll) - var(--header-height)));
    display: flex;
    position: sticky;
    flex-direction: column;
    width: max-content;
}
#sidebar > #sidebarSection > a{
    text-align: center;
    margin: 0;
    padding: auto;
    border: 0.2rem solid white;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
}
#sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: none;
    max-height: 80dvh;
    padding: 1rem;
}
#sidebar li {
    list-style-type: none;
    margin: 0.1rem 0;
    padding: 1rem 0;
    color: rgb(139, 139, 139);
    cursor: pointer;
    width: 100%;
}
#sidebar li:hover {
    background-color: #294966;
    color: white;
    transition: background-color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
#sidebar li a{
    color: white;
    text-decoration: none;
}

/* SIDEBAR OVER
.
.
.
.
.
.
.
.
.
.
.
......RESPOINSIVE DESIGN */
@media screen and (max-width: 768px) {
    #sidebarSection{
        top:3rem;
        padding-top: 0;
    }
}