html{
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    min-height: 100vh !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(15, 15, 15) !important;
    color: white !important;
}
body {
    width: 100% !important;
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(15, 15, 15) !important;
}
footer {
    display: flex;
    flex-direction: row;
    bottom: 0px;
    width: 100%;
    height: 5dvh;
    background-color: #0e1013;
    align-content: center;
    justify-content: center;
    border-top: 0.1dvh solid white;
    margin-top: 1dvh;
}
#footerText {
    color: white;
    font-size: 2dvh;
}
