a {
    color: inherit;
    text-decoration-color: aqua;
}
ul {
    padding-inline-start: 1em;
}
#main_container main {
    flex-basis: 30%;
    flex-grow: 1000;
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    width: auto;
    margin: 0;
    section {
        flex: 1 1 20rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: auto;
        min-height: 10rem;
        width: 20rem;
        background-color: rgb(5, 5, 5);
        margin: 1rem;
        padding: 1rem;
        border: 0.1rem solid rgba(255, 255, 255, 0.2);
        border-radius: 1rem;
        transition: border-color 0.2s ease;
        box-shadow: -0.1rem -0.2rem 0.1rem rgba(255, 255, 255, 0.4), 0 0.5rem 0.5rem rgba(54, 54, 54, 0.4), 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        &:hover {
            border-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 -0.2rem 0.1rem rgba(255, 255, 255, 0.8), 0 0.5rem 0.5rem rgba(54, 54, 54, 0.8), 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
        }
    }
    #mainWellcome {
        flex-basis: 100%;
        min-height: 15rem;
        margin-bottom: 2rem;
        margin-inline: 5%;
        h1 {
            text-align: center;
            margin-block: 0.3rem;
            font-size: 2.3em;
        }
        p {
            line-height: 1.4;
            margin-block: 0.2em;
            &::before {
                content: " ■ ";
                color: rgb(123, 255, 255);
            }
        }
    }
    #section_Code {
        flex-basis: 80%;
        width: 100%;
        code {
            overflow:auto ;
            white-space: pre-wrap !important; 
            unicode-bidi: isolate;
            display: inline-block; /* Satır içi blok olarak gösterir */
            font-size: 0.6em;
            font-family: 'Courier New', Courier, monospace; /* Monospace yazı tipi kullanır */
            background-color: rgb(30, 30, 30); /* Açık gri arka plan rengi */
            padding: 0.2em 0.4em; /* İç boşluk ekler */
            border-radius: 4px; /* Kenarları yuvarlar */
            border: 1px solid #ccc; /* Açık gri bir kenar ekler */
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */
            pre{
                display: inherit;
                font-family: inherit;
                unicode-bidi: inherit;
                white-space: inherit;
                margin: 0;
                padding: 0;
            }
        }
    }
}
